
.org-chart{
  border: 1px solid black;
  padding: 34px;
}

.node:focus-visible {
    outline: 3px solid #fadf4b;
    outline-offset: 3px;
    box-shadow: 0 0 0 5px #1e2b3c;
}

.rows {
  display: flex;
  flex-direction: column;
}

.row {
  box-sizing: border-box;
  display: flex;
  position: relative;
  border: 1px solid red;
  width: 100%;
  justify-content: space-between;
  gap: 24px;
  @media screen and (max-width: 1500px){
   flex-wrap: wrap; 
  }
}

.row-center {
  flex-wrap: nowrap;
  justify-content: center;
}

.row > :first-child {
  margin-left: 0;
}

.row > :last-child {
  margin-right: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 84px;
}


.node {
  box-sizing: border-box;
  width: 100%;
  min-height: 83px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 12px;
  text-decoration: none;
  line-height: 1.4em;
  position: relative;
}

