.wrapper {
  position: relative;
  background-color: white;
  box-shadow: var(--ds-shadow-sm);
  padding: var(--ds-size-8);
  border-radius: var(--ds-border-radius-lg);
}

.select {
  margin-bottom: var(--ds-size-6);
}
