.org-chart {
  /* orgchart variables */
  --col-height: 83px;
  --line-color: #68707c;
  --row-padding-top: 40px;
  --row-column-gap: 80px;

  padding: 34px;
}

/* TOC styles */
.toc-box {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 16px;
  background: white;
  z-index: 1000;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin-right: auto;
  width: fit-content;
  margin: 0 0 40px 0;
}

.toc-box-mobile {
  width: auto;
  margin: 0 0 px 0;
}

.toc-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toc-item:hover {
  cursor: default;
}

.toc-item-color {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

/*Row styles*/

.rows {
  display: flex;
  flex-direction: column;
}

.row-last-1::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: var(--line-color);
  top: 0;
  left: calc(50% - 1px);
}

.row-last-2::before {
  content: '';
  position: absolute;
  width: 2px;
  height: calc(40px + calc(var(--col-height) / 2));
  background-color: var(--line-color);
  top: 0;
  left: calc(50% - 1px);
}

.row-last-3::before,
.row-last-3-tablet::before {
  content: '';
  position: absolute;
  width: 2px;
  height: calc(40px + 47.45px);
  background-color: var(--line-color);
  top: 0;
  left: calc(50% - 1px);
}

.row-last-3-tablet::before {
  height: calc(50% + 22px + calc(47.45px * var(--diff)));
}

.row-last-4::before,
.row-last-4-tablet::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: var(--line-color);
  top: 0;
  left: calc(50% - 1px);
}

.row-last-4-tablet::before {
  height: calc(50% + 22px + calc(47.45px * var(--diff)));
}

.row-last-5::before,
.row-last-5-tablet::before,
.row-last-5-laptop::before,
.row-last-6::before,
.row-last-6-tablet::before,
.row-last-6-laptop::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 0%;
  background-color: var(--line-color);
  top: 0;
  left: calc(50% - 1px);
}

.row-last-5-laptop::before,
.row-last-6-laptop::before {
  height: calc(
    var(--col-height) + var(--row-column-gap) +
      calc(var(--col-height) * var(--diff) + 12px * var(--diff)) + 1px
  );
}

.row-last-5-tablet::before,
.row-last-6-tablet::before {
  height: calc(
    var(--col-height) * 2 + var(--row-column-gap) * 2 +
      calc(var(--col-height) * var(--diff) + 12px * var(--diff)) + 1px
  );
}

.row {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  row-gap: 80px;
  column-gap: 24px;
  padding: 40px 0;
}

.wrap {
  flex-wrap: wrap;
}

.row:first-child {
  padding-top: 0;
}

.row:last-child {
  padding-bottom: 0;
}

.row-line::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--line-color);
  top: 0;
  left: calc(50% - 1px);
}

.row-center {
  flex-wrap: nowrap;
  justify-content: center;
}

.special-row-1-column {
  justify-content: flex-start;
}

/*Column styles*/

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: white;
}

.column-flex-start {
  align-items: flex-start;
  margin-left: 52px;
}

.column-flex-end {
  align-items: flex-end;
  margin-right: 52px;
}

/*Node line styles*/
.node {
  box-sizing: border-box;
  width: 100%;
  height: var(--col-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 1.4em;
  position: relative;
}

.node:focus-visible {
  outline: 3px solid #1e2b3c;
  outline-offset: 2px;
}

.inner-node {
  z-index: 100;
  padding: 0 20px;
}

.node-children {
  margin: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  width: 100%;
  list-style: none;
}

/*Node line styles*/

.node-line-right::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(50% + 52px + 12px);
  height: 2px;
  background-color: var(--line-color);
  left: 50%;
  display: none;
}

.node-line-up::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 2px;
  height: calc(50% + 40px);
  background-color: var(--line-color);
  top: -40px;
}

.node-line-left::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(50% + 52px + 12px);
  height: 2px;
  background-color: var(--line-color);
  right: 50%;
  display: none;
}

.node-line-up-right::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(100% + 24px);
  height: 2px;
  background-color: var(--line-color);
  left: 50%;
  right: 0;
  top: -40px;
  display: none;
}

.node-line-up-right-half::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(50% + 12px);
  height: 2px;
  background-color: var(--line-color);
  left: 50%;
  right: 0;
  top: -40px;
  display: none;
}

.node-line-up-right-long::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(150% + 24px + 12px);
  height: 2px;
  background-color: var(--line-color);
  left: 50%;
  right: 0;
  top: -40px;
  display: none;
}

.node-line-up-left::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(100% + 24px);
  height: 2px;
  background-color: var(--line-color);
  right: 50%;
  top: -40px;
  display: none;
}

.node-line-up-left-half::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: calc(50% + 12px);
  height: 2px;
  background-color: var(--line-color);
  right: 50%;
  top: -40px;
  display: none;
}

.column-line-offset-right::after {
  content: '';
  position: absolute;
  width: calc(100% + 52px + 12px - 290px);
  height: 2px;
  background-color: var(--line-color);
  right: 290px;
  top: 40px;
  display: none;
}

.column-line-offset-left::after {
  content: '';
  position: absolute;
  width: calc(100% + 52px + 12px - 290px);
  height: 2px;
  background-color: var(--line-color);
  left: 290px;
  top: 40px;
  display: none;
}

.column a:hover,
.column a:focus-visible {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/*Special column styles*/

.column-special {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nodes-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

.nodes-container-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

/** Alignment and offset*/

.column-alignment-1-offset-left {
  align-items: start;
  margin-right: calc(50% + 64px);
}

.column-alignment-1-offset-right {
  align-items: end;
  margin-left: calc(50% + 64px);
}

.column-alignment-1-left {
  margin-left: calc(50% - 290px - 52px - 12px);
  margin-right: calc(50% + 52px + 12px);
}

.column-alignment-1-right {
  margin-right: calc(50% - 290px - 52px - 12px);
  margin-left: calc(50% + 52px + 12px);
}

.column-alignment-2-left {
  margin-left: calc(50% - 290px - 52px - 12px);
  margin-right: calc(50% + 52px + 12px);
}

.column-alignment-2-right {
  margin-right: calc(50% - 290px - 52px - 12px);
  margin-left: calc(50% + 52px + 12px);
}

.column-alignment-2-offset-right {
  align-items: end;
}

.column-alignment-2-offset-left {
  align-items: start;
}

/* Special column Lines */

/* .special-column-1 .node::before, 
.special-column-2 .node::before,
.special-column-3 .node:first-child:before,
.special-column-left-wrappet .node:first-child:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 2px;
    height: calc(50% + 40px);
    background-color: var(--line-color);
    top: -40px;
}  */

.special-column-1 .node::before,
.special-column-2 .node::before,
.special-column-3 .node:first-child:before,
.special-column-left-wrappet .node:first-child:before,
.special-column-1 .node:first-child:after,
.special-column-1-short .node:first-child:after,
.special-column-1-long .node:first-child:after,
.special-column-1-long .node::before,
.special-column-2 .node:last-child:after,
.special-column-2-short .node:last-child:after,
.special-column-2-long .node:last-child:after,
.special-column-2-long .node::before,
.special-column-3 .node:first-child:after,
.special-column-3-short .node:first-child:after,
.special-column-3-long .node:first-child:after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--line-color);
  top: -40px;
}

.special-column-1 .node::before,
.special-column-2 .node::before,
.special-column-3 .node:first-child:before,
.special-column-1-long .node::before,
.special-column-2-long .node::before {
  width: 2px;
  height: calc(50% + 40px);
}

.special-column-1 .node:first-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  left: 50%;
}

.special-column-1-short .node:first-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  left: 50%;
}

.special-column-1-long .node:first-child:after {
  width: calc(200% + 24px + 24px + 6px);
  height: 2px;
  left: 50%;
}

.special-column-2 .node:last-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  right: 50%;
}

.special-column-2-short .node:last-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  right: 50%;
}

.special-column-2-long .node:last-child:after {
  width: calc(200% + 24px + 24px + 6px);
  height: 2px;
  right: 50%;
}

.special-column-3 .node:first-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  right: 50%;
}

.special-column-3-short .node:first-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  right: 50%;
}

.special-column-3-long .node:first-child:after {
  width: calc(150% + 24px + 12px);
  height: 2px;
  right: 50%;
}
