@layer org-chart {
  .och-org-chart {
    /* orgchart variables */
    --col-height: 83px;
    --line-color: #68707c;
    --row-padding-top: 40px;
    --row-column-gap: 80px;
  }

  .och-org-chart-main-container {
    position: relative;
    z-index: 1;
  }

  /* TOC styles */
  .och-toc-box {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    background: white;
    z-index: 1000;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin-right: auto;
    width: fit-content;
    margin: 0 0 40px 0;
    min-width: 220px;
  }

  .och-toc-box-mobile {
    width: auto;
    margin: 0 0 px 0;
  }

  .och-toc-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .och-toc-item:hover {
    cursor: default;
  }

  .och-toc-item-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }

  /*Row styles*/

  .och-rows {
    display: flex;
    flex-direction: column;
  }

  .och-row-last-2::before,
  .och-row-last-2-tablet:before,
  .och-row-last-1::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    background-color: var(--line-color);
    top: 0;
    left: calc(50% - 1px);
  }

  .och-row-last-2:before,
  .och-row-last-2-tablet:before {
    height: var(--row-column-gap);
  }

  .och-row-last-3::before,
  .och-row-last-3-tablet::before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(40px + 47.45px);
    background-color: var(--line-color);
    top: 0;
    left: calc(50% - 1px);
  }

  .och-row-last-3-tablet::before {
    height: calc(50% + 22px + calc(47.45px * var(--diff)));
  }

  .och-row-last-4::before,
  .och-row-last-4-tablet::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: var(--line-color);
    top: 0;
    left: calc(50% - 1px);
  }

  .och-row-last-4-tablet::before {
    height: calc(50% + 22px + calc(47.45px * var(--diff)));
  }

  .och-row-last-5::before,
  .och-row-last-5-tablet::before,
  .och-row-last-5-laptop::before,
  .och-row-last-5-tablet-1-s-cols::before,
  .och-row-last-5-laptop-1-s-cols::before,
  .och-row-last-5-tablet-2-s-cols::before,
  .och-row-last-5-laptop-2-s-cols::before,
  .och-row-last-6::before,
  .och-row-last-6-tablet::before,
  .och-row-last-6-tablet-2-s-cols::before,
  .och-row-last-6-laptop-2-s-cols::before,
  .och-row-last-6-laptop-3-s-cols::before,
  .och-row-last-6-tablet-3-s-cols::before,
  .och-row-last-6-laptop::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: var(--line-color);
    top: 0;
    left: calc(50% - 1px);
  }

  .och-row-last-5-tablet-1-s-cols::before,
  .och-row-last-5-laptop-1-s-cols::before {
    height: calc(50% + 22px + calc(47.45px * var(--diff)));
  }
  .och-row-last-5-tablet-2-s-cols::before,
  .och-row-last-5-laptop-2-s-cols::before {
    height: calc(50% + 22px + calc(47.45px * var(--diff)));
  }

  .och-row-last-6-tablet-2-s-cols::before {
    height: calc(50% + 22px + calc(47.45px * var(--diff)));
  }

  .och-row-last-6-laptop-2-s-cols::before {
    height: calc(
      var(--col-height) + var(--row-column-gap) +
        calc(var(--col-height) * var(--diff) + 12px * var(--diff)) + 1px
    );
  }

  .och-row-last-6-tablet-2-s-cols::before {
    height: calc(
      var(--col-height) + var(--row-column-gap) +
        calc(
          var(--col-height) + var(--col-height) * var(--diff) + 12px *
            calc(var(--diff) + 1)
        ) + 1px
    );
  }

  .och-row-last-6-laptop-3-s-cols::before {
    height: calc(
      var(--col-height) + var(--row-column-gap) +
        calc(var(--col-height) * var(--diff) + 12px * var(--diff)) + 1px
    );
  }

  .och-row-last-6-tablet-3-s-cols::before {
    height: calc(
      var(--col-height) + var(--row-column-gap) +
        calc(
          var(--col-height) + var(--col-height) * var(--diff) + 12px *
            calc(var(--diff) + 1)
        ) + 1px
    );
  }

  .och-row-last-5-laptop::before,
  .och-row-last-6-laptop::before {
    height: calc(
      var(--col-height) + var(--row-column-gap) +
        calc(var(--col-height) * var(--diff) + 12px * var(--diff)) + 1px
    );
  }

  .och-row-last-5-tablet::before,
  .och-row-last-6-tablet::before {
    height: calc(
      var(--col-height) * 2 + var(--row-column-gap) * 2 +
        calc(var(--col-height) * var(--diff) + 12px * var(--diff)) + 1px
    );
  }

  .och-row {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    row-gap: var(--row-column-gap);
    column-gap: 24px;
    padding: 40px 0;
  }

  .och-wrap {
    flex-wrap: wrap;
  }

  .och-row:first-child {
    padding-top: 0;
  }

  .och-row:last-child {
    padding-bottom: 0;
  }

  .och-row-line::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--line-color);
    top: 0;
    left: calc(50% - 1px);
  }

  .och-row-center {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .och-special-row-1-column {
    justify-content: flex-start;
  }

  /*Column styles*/

  .och-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background: transparent;
  }

  .och-column-flex-start {
    align-items: flex-start;
    margin-left: 52px;
  }

  .och-column-flex-end {
    align-items: flex-end;
    margin-right: 52px;
  }

  /*Node line styles*/
  .och-node {
    box-sizing: border-box;
    width: 100%;
    height: var(--col-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    line-height: 1.4em;
    position: relative;
    background-color: white;
  }

  .och-inner-node:focus-visible {
    outline: 3px solid #1e2b3c;
    outline-offset: 2px;
    opacity: 1 !important;
  }

  .och-inner-node {
    box-sizing: border-box;
    width: 100%;
    height: var(--col-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: var(--col-height);
    padding: 0 20px;
  }

  .och-node-children {
    margin: 12px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  /*Node line styles*/

  .och-node-line-right::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(50% + 52px + 12px);
    height: 2px;
    background-color: var(--line-color);
    left: 50%;
  }

  .och-node-line-up::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 2px;
    height: calc(50% + 40px);
    background-color: var(--line-color);
    top: -40px;
  }

  .och-node-line-up-long::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 2px;
    height: calc(200% + 40px);
    background-color: var(--line-color);
    top: -180px;
  }

  .och-node-line-left::before {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(50% + 52px + 12px);
    height: 2px;
    background-color: var(--line-color);
    right: 50%;
  }

  .och-node-line-up-right::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 24px);
    height: 2px;
    background-color: var(--line-color);
    left: 50%;
    right: 0;
    top: -40px;
  }

  .och-node-line-up-right-half::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(50% + 12px);
    height: 2px;
    background-color: var(--line-color);
    left: 50%;
    right: 0;
    top: -40px;
  }

  .och-node-line-up-right-long::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(150% + 24px + 12px);
    height: 2px;
    background-color: var(--line-color);
    left: 50%;
    right: 0;
    top: -40px;
  }

  .och-node-line-up-left::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 24px);
    height: 2px;
    background-color: var(--line-color);
    right: 50%;
    top: -40px;
  }

  .och-node-line-up-left-half::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(50% + 12px);
    height: 2px;
    background-color: var(--line-color);
    right: 50%;
    top: -40px;
  }

  .och-column-line-offset-right::after {
    content: '';
    position: absolute;
    width: calc(100% + 52px + 12px - 290px);
    height: 2px;
    background-color: var(--line-color);
    right: 290px;
    top: 40px;
  }

  .och-column-line-offset-left::after {
    content: '';
    position: absolute;
    width: calc(100% + 52px + 12px - 290px);
    height: 2px;
    background-color: var(--line-color);
    left: 290px;
    top: 40px;
  }

  .och-column a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
  }

  .och-column a:hover,
  .och-column a:focus-visible {
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }

  /*Special column styles*/

  .och-column-special {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .och-nodes-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }

  .och-nodes-container-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  /** Alignment and offset*/

  .och-column-alignment-1-offset-left {
    align-items: start;
    margin-right: calc(50% + 64px);
  }

  .och-column-alignment-1-offset-right {
    align-items: end;
    margin-left: calc(50% + 64px);
  }

  .och-column-alignment-1-left {
    margin-left: calc(50% - 290px - 52px - 12px);
    margin-right: calc(50% + 52px + 12px);
  }

  .och-column-alignment-1-right {
    margin-right: calc(50% - 290px - 52px - 12px);
    margin-left: calc(50% + 52px + 12px);
  }

  .och-column-alignment-2-left {
    margin-left: calc(50% - 290px - 52px - 12px);
    margin-right: calc(50% + 52px + 12px);
  }

  .och-column-alignment-2-right {
    margin-right: calc(50% - 290px - 52px - 12px);
    margin-left: calc(50% + 52px + 12px);
  }

  .och-column-alignment-2-offset-right {
    align-items: end;
  }

  .och-column-alignment-2-offset-left {
    align-items: start;
  }

  /* Special column Lines */

  .och-special-column-1 .och-node::before,
  .och-special-column-2 .och-node::before,
  .och-special-column-3 .och-node:first-child:before,
  .och-special-column-left-wrappet .och-node:first-child:before,
  .och-special-column-1 .och-node:first-child:after,
  .och-special-column-1-short .och-node:first-child:after,
  .och-special-column-1-long .och-node:first-child:after,
  .och-special-column-1-long .och-node::before,
  .och-special-column-2 .och-node:last-child:after,
  .och-special-column-2-short .och-node:last-child:after,
  .och-special-column-2-long .och-node:last-child:after,
  .och-special-column-2-long .och-node::before,
  .och-special-column-3-right-short .och-node:first-child:before,
  .och-special-column-3-right-short .och-node:first-child:after,
  .och-special-column-3-left-short .och-node:first-child:after,
  .och-special-column-3-left-short .och-node:first-child:before,
  .och-special-column-3-left-long .och-node:first-child:before,
  .och-special-column-3-left-long .och-node:first-child:after,
  .och-special-column-3-center .och-node:first-child:before,
  .och-special-column-3-center .och-node:first-child:after,
  .och-special-column-3-center .och-node:last-child:before,
  .och-special-column-3-center .och-node:last-child:after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--line-color);
    top: -40px;
  }

  .och-special-column-1 .och-node::before,
  .och-special-column-2 .och-node::before,
  .och-special-column-3 .och-node:first-child:before,
  .och-special-column-1-long .och-node::before,
  .och-special-column-2-long .och-node::before,
  .och-special-column-3-right-short .och-node:first-child:before,
  .och-special-column-3-left-short .och-node:first-child:before,
  .och-special-column-3-left-long .och-node:first-child:before,
  .och-special-column-3-center .och-node:first-child:before,
  .och-special-column-3-center .och-node:last-child:before {
    width: 2px;
    height: calc(50% + 40px);
  }

  .och-special-column-1 .och-node:first-child:after {
    width: calc(150% + 24px + 12px);
    height: 2px;
    left: 50%;
  }

  .och-special-column-1-short .och-node:first-child:after {
    width: calc(150% + 24px + 12px);
    height: 2px;
    left: 50%;
  }

  .och-special-column-1-long .och-node:first-child:after {
    width: calc(200% + 24px + 24px + 6px);
    height: 2px;
    left: 50%;
  }

  .och-special-column-2 .och-node:last-child:after {
    width: calc(150% + 24px + 12px);
    height: 2px;
    right: 50%;
  }

  .och-special-column-2-long .och-node:last-child:after {
    width: calc(200% + 24px + 24px + 6px);
    height: 2px;
    right: 50%;
  }

  .och-special-column-3-center .och-node:first-child:after {
    width: calc(50% + 12px);
    height: 2px;
    left: 50%;
  }

  .och-special-column-3-center .och-node:last-child:after {
    width: calc(50% + 12px);
    height: 2px;
    right: 50%;
  }

  .och-special-column-3-right-short .och-node:first-child:after {
    width: calc(50% + 12px);
    height: 2px;
    left: 50%;
  }

  .och-special-column-3-left-short .och-node:first-child:after {
    width: calc(50% + 12px);
    height: 2px;
    right: 50%;
  }

  .och-special-column-3-left-long .och-node:first-child:after {
    width: calc(100% + 24px);
    height: 2px;
    right: 50%;
  }
}
