.footer {
  background-color: #111e3c;
  color: rgb(220 220 220) !important;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topContent {
  padding: 64px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  color: rgb(220 220 220) !important;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  color: rgb(220 220 220) !important;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomContent {
  border-top: 1px solid rgb(57 61 94);
  padding: 24px 0;
  width: 100%;
}
