.footer {
  background-color: var(--ds-color-neutral-base-default);
  color: white;
  font-weight: 300;
  letter-spacing: 0.3px;

  --color-surface-neutral-inverted-darker: #17202e;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: var(--ds-size-10);
}

.title {
  font-size: var(--ds-heading-xs-font-size);
  font-weight: var(--ds-heading-xs-font-weight);
  line-height: var(--ds-heading-xs-line-height);
  margin-bottom: var(--ds-size-4);
}

.footer .logos img {
  height: 26px;
  width: auto;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-size-4);
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  margin-bottom: var(--ds-size-5);
}

.links li a {
  color: #d2d2d2 !important;
}

.links li:last-child {
  margin-bottom: 0;
}

.top {
  padding: var(--ds-size-18) 0;
}

.bottom {
  background-color: var(--color-surface-neutral-inverted-darker);
  padding: var(--ds-size-7) 0;
  color: var(--color-text-on_inverted-subtle);
  font-size: var(--ds-body-short-sm-font-size);
  line-height: var(--ds-body-short-sm-line-height);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 48px;
  padding: 0 var(--ds-size-5);
  margin-top: var(--ds-size-7);
  border-radius: 2px;
  transition: 0.1s all;
  font-size: var(--ds-body-short-sm-font-size);
  line-height: var(--ds-body-short-sm-line-height);
  color: var(--color-text-on_inverted-subtle);
  border: 1px dashed var(--color-text-on_inverted-subtle);
}

.button:hover {
  background-color: var(--color-surface-neutral-inverted-darker);
  border-color: white;
  color: white;
}

.text {
  color: #d2d2d2 !important;
  font-family: inherit !important;
}

.heading {
  color: white !important;
  margin-bottom: var(--ds-size-4);
}
