.layout {
 padding: 0 0 20px 0;
}

.test {
  border: 2px solid #1c1c1c;
  margin: 0 auto;
}

.wrapper{
  margin: 50px 0;
  display: flex;
  gap: 50px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #000;
}

.menu{
  margin: 10px auto 60px auto;
  max-width: 1800px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.menuLeft{
  display: flex;
  gap: 20px;
}

.menuRight{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}