.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 32px;
  font-size: 34px;
}

.output {
  background-color: white;
  width: 100%;
  min-height: 500px;
  padding: 24px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
}

.input {
  width: 100%;
  height: 800px;
  border-radius: 4px;
  overflow-y: auto;
}

.input textarea {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.row {
  padding-bottom: 44px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0px;
  position: relative;
}

.rowLine,
.boxLine {
  position: absolute;
  background-color: #1e2b3c;
}

.row-4 .rowLine {
  height: 1px;
  width: calc(100% - (100% / 4));
  left: calc(12.5%);
  margin-top: -30px;
}

.row-1 .rowLine {
  width: 1px;
  height: 100%;
  left: 50%;
}

.row-2 .rowLine {
  width: 1px;
  height: 100%;
  left: 50%;
}

.row:nth-child() .rowLine {
  background-color: red;
}

.row-4 .boxLine {
  height: 30px;
  width: 1px;
  top: -30px;
  left: 50%;
}

.row-2 .col-0 .boxLine,
.row-2 .col-1 .boxLine {
  height: 1px;
  width: 50%;
  top: 35px;
}

.row-2 .col-0 .boxLine {
  right: 0;
}
.row-2 .col-1 .boxLine {
  left: 0;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box,
.underBox {
  width: 260px;
  height: 70px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 12px;
  text-decoration: none;
  line-height: 1.4em;
  position: relative;
}

.box:hover,
.underBox:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.box:focus,
.underBox:focus {
  outline-offset: 5px;
  outline-offset: 3px;
  outline: 3px solid rgb(255, 238, 0);
  box-shadow: 0 0 0 3px black;
}

.box {
  background-color: var(--fds-semantic-text-neutral-default);
  color: white;
}

.boxGroup {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.boxWrapper {
  position: relative;
}

.boxWrapper > div:hover {
  text-decoration: none;
}

.boxRight {
  margin-right: -240px;
}

.underBox {
  background-color: rgb(216, 216, 216);
  color: black;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 20px;
}
